nav{
    margin-top: 2vh;
    background-color: transparent;
    color:white;
    text-align: right;
}


a{
    padding: 1vh;
    color:white;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: white;
}
body{
    background-image: url('c1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
div{
    border: 2px solid white;
    border-radius: 5%;
    margin: 0px 30%;
    margin-top: 10%;
    padding: 5%;
    text-align: center;
    backdrop-filter: blur(5px);
}
input{
    background-color: black;
    color:white;
    border:none;
    border-radius: 5%;
    text-decoration: none;
    padding: 1vh;
    margin: 2vh;
}
label{
    padding-bottom: 5vh;
}
p{
    font-weight: 800;
    font-size:x-large;
    text-align: center;
    justify-content: center;
}
